<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label label-required">员工名称</label>
            <div class="layui-input-block">
                <input name="name" value='{$vo.name|default=""}' required placeholder="请输入员工名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系方式</label>
            <div class="layui-input-block">
                <input name="phone" value='{$vo.phone|default=""}' placeholder="请输入联系方式" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">请选择部门</label>
            <div class="layui-input-block">
                <select class="layui-select" required name="d_id" lay-search>
                    {foreach $department as $team}
                    {if isset($vo.d_id) and $vo.d_id eq $team.id}
                    <option selected value="{$team.id}">{$team.name|default=''}</option>
                    {else}
                    <option value="{$team.id}">{$team.name|default=''}</option>
                    {/if}
                    {/foreach}
                </select>
            </div>
        </div>
    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>

    <script>window.form.render();</script>

</form>
