{extend name='admin@main'}

{block name="content"}
<div class="think-box-shadow">
    {include file='borrow_repay/index_search'}
    <table class="layui-table" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
            </th>
            <th class='list-table-sort-td'>
                <button type="button" data-reload class="layui-btn layui-btn-xs">刷 新</button>
            </th>
            <th class='text-left nowrap'>物品名称</th>
            <th class='text-left nowrap'>租借人</th>
            <th class='text-left nowrap'>部门</th>
            <th class='text-left nowrap'>租借时间</th>
            <th class='text-left nowrap'>归还时间</th>
            <th class='text-left nowrap'>备注</th>
            <th class='text-left nowrap'></th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='list-table-check-td think-checkbox'>
                <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
            </td>
            <td class='list-table-sort-td'>
            </td>
            <td class='text-left nowrap'>{$vo.g_name|default=''}({$vo.g_code|default=''})</td>
            <td class='text-left nowrap'>{$vo.personnel.name|default=''}</td>
            <td class='text-left nowrap'>{$vo.personnel.department.name|default=''}</td>
            <td class='text-left nowrap'>
                {$vo.start_time|format_datetime}
            </td>
            <td class='text-left nowrap'>
                {$vo.end_time|format_datetime}
            </td>
            <td class='text-left nowrap'>{$vo.mark|default=''}</td>
            <td class='text-left nowrap'>

                {if auth("edit")}
                <a data-dbclick class="layui-btn layui-btn-sm" data-title="编辑" data-modal='{:url("edit")}?id={$vo.id}'>编 辑</a>
                {/if}

                {if auth("remove")}
                <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除吗？" data-action="{:url('remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('remove')}">删 除</a>
                {/if}

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>

{/block}
