{extend name='admin@main'}

{block name="button"}

{if auth("add")}
<button data-modal='{:url("add")}' data-title="添加工具" class='layui-btn layui-btn-sm layui-btn-primary'>添加工具</button>
{/if}

{if auth("remove")}
<button data-action='{:url("remove")}' data-rule="id#{key}" data-csrf="{:systoken('remove')}" data-confirm="确定要删除这些工具吗？" class='layui-btn layui-btn-sm layui-btn-primary'>删除工具</button>
{/if}

{if auth("import")}
<button type="button" class="layui-btn layui-btn-sm layui-btn-primary" id="import">
    <i class="layui-icon">&#xe67c;</i>导入
</button>
<button type="button" class="layui-btn layui-btn-sm layui-btn-primary">
    <a href='__ROOT__/static/theme/import_goods.xlsx' target="_blank" download="工具导入模板">下载导入模板</a>
</button>
{/if}

{/block}

{block name="content"}
<div class="think-box-shadow">
    {include file='goods/index_search'}
    <table class="layui-table" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
            </th>
            <th class='list-table-sort-td'>
                <button type="button" data-reload class="layui-btn layui-btn-xs">刷 新</button>
            </th>
            <th class='text-left nowrap'>工具信息</th>
            <th class='text-left nowrap'>工具分类</th>
            <th class='text-left nowrap'>厂家</th>
            <th class='text-left nowrap'>上次实验日期</th>
            <th class='text-left nowrap'>工具条形码</th>
            <th class='text-left nowrap'>使用次数</th>
            <th class='text-left nowrap'>添加时间</th>
            <th class='text-left nowrap'></th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='list-table-check-td think-checkbox'>
                <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
            </td>
            <td class='list-table-sort-td'>
            </td>
            <td class='text-left nowrap'>
                工具名称：{$vo.name|default=''}<br>
                工具编码：{$vo.code|default=''}<br>
                型号：{$vo.xinghao|default=''}<br>
                租借状态：
                {eq name='vo.status' value='1'}<span class="layui-badge layui-bg-green margin-left-5">空闲</span>{/eq}
                {eq name='vo.status' value='2'}<span class="layui-badge layui-bg-red margin-left-5">被借中</span>{/eq}
                <br>
                工具状态：
                {eq name='vo.status_' value='1'}<span class="layui-badge layui-bg-green margin-left-5">良好</span>{/eq}
                {eq name='vo.status_' value='2'}<span class="layui-badge layui-bg-red margin-left-5">损坏</span>{/eq}
                {eq name='vo.status_' value='3'}<span class="layui-badge layui-bg-red margin-left-5">缺少配件</span>{/eq}
            </td>
            <td class='text-left nowrap'>{$vo.cate.name|default=''}</td>
            <td class='text-left nowrap'>{$vo.seller_name|default=''}</td>
            <td class='text-left nowrap'>{$vo.scsyrq|default=''}</td>
            <td class='text-left nowrap'>
                <img src="{$vo.code_png}"/>
                <a href='{$vo.code_png}' target="_blank" download="{$vo.name}">下载</a>
            </td>
            <td class='text-left nowrap'>{$vo.use_num|default=''}</td>
            <td class='text-left'>
                {$vo.create_at|format_datetime}
            </td>
            <td class='text-left nowrap'>

                {if auth("edit")}
                <a data-dbclick class="layui-btn layui-btn-sm" data-title="编辑" data-modal='{:url("edit")}?id={$vo.id}'>编 辑</a>
                {/if}

                {if auth("remove")}
                <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除吗？" data-action="{:url('remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('remove')}">删 除</a>
                {/if}

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>

{/block}

{block name='script'}
<script>
    layui.use('upload', function(){
        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#import' //绑定元素
            ,url: '/work/goods/import.html' //上传接口
            ,accept: 'file'
            ,done: function(res){
                //上传完毕回调
                if (res.code) {
                    layer.msg(res.msg, function () {
                        $.form.reload();
                    });
                }else{
                    layer.open({
                        title: '错误提示'
                        ,content: res.msg
                    });
                }
            }
            ,error: function(){
                //请求异常回调
                layer.msg('导入异常，请联系系统管理员');
            }
        });
    });
</script>
{/block}
